

.Light {
  //white
  --white-100: #f5f5f5;
  --white-200: #e7e7e7;
  --white-300: #f0efef;
  --white-400: #b2b2b2;
  --white-500: #777676;
  --white-600: #686868;
  --white-700: #474747;
  --white-800: #313131;
  --white-900: #1b1b1b;
  --white-1000: #000000;

  
  //parpal
  --parpal-100: #f6ecff;
  --parpal-200: #e7d6fb;
  --parpal-300: #caabf1;
  --parpal-400: #ac7ce8;
  --parpal-500: #9354e0;
  --parpal-600: #833cdb;
  --parpal-700: #7b2eda;
  --parpal-800: #6921c2;
  --parpal-900: #5d1cae;
  --parpal-1000: #501599;
  //variant 
  --bgparpal:rgba(235, 224, 247, 0.911);
  --bgray:rgb(233, 245, 238);
  --bggreen:rgb(212, 214, 213);


  
}
.Drack {
  --parpal-1000: #f6ecff;
  --parpal-900: #e7d6fb;
  --parpal-800: #caabf1;
  --parpal-700: #ac7ce8;
  --parpal-600: #9354e0;
  --parpal-500: #833cdb;
  --parpal-400: #7b2eda;
  --parpal-300: #6921c2;
  --parpal-200: #5d1cae;
  --parpal-100: #501599;
  //drack

  --white-1000: #f5f5f5;
  --white-900: #e7e7e7;
  --white-800: #cdcdcd;
  --white-700: #b2b2b2;
  --white-600: #777676;
  --white-500: #707070;
  --white-400: #5a5a5a;
  --white-300: rgb(56, 56, 56);
  --white-200: #1d1d1d;
  --white-100: #000000;
 
  //variant 
  --bgparpal:rgba(62, 60, 65, 0.911);
  --bgray:rgb(46, 49, 48);
  --bggreen:rgb(54, 59, 56);
}

