@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.barCountuner {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffd51a;
  z-index: 2;
}
.barCountuner .section1, .barCountuner .section2, .barCountuner .section3 {
  height: 100%;
  width: 20px;
  flex-shrink: 1;
  flex-grow: 1;
}
.barCountuner .section1 {
  height: 100%;
  display: flex;
  padding-left: 20px;
}
.barCountuner .section1 .bar {
  height: 100%;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e0d0d;
  cursor: pointer;
  font-size: 30px;
}
.barCountuner .section1 .bar:hover {
  background: #d3a819;
}
.barCountuner .section1 .logo {
  height: 100%;
  width: 50%;
  padding-left: 10%;
}
.barCountuner .section1 .logo img {
  height: 100%;
}
.barCountuner .section2 {
  flex-grow: 1;
  flex-basis: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.barCountuner .section2 .SerBtn {
  color: #0e0d0d;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  border: 0;
  border-radius: 0 4px 4px 0;
  background: #f5f3f3;
}
.barCountuner .section2 input {
  padding: 8.5px;
  width: 80%;
  font-size: 15px;
  outline: none;
  background: #f5f3f3;
  color: #3a3939;
  border: 0;
  border-radius: 4px 0 0 4px;
}
.barCountuner .section3 {
  display: flex;
  justify-content: end;
}
.barCountuner .section3 .conLoc {
  height: 100%;
  width: 110px;
  font-size: 15px;
  font-weight: 600;
  color: #8f05eb;
  justify-content: center;
  display: flex;
  align-items: center;
}
.barCountuner .section3 .BTn {
  padding: 0 10% 0 2%;
  display: flex;
  align-items: center;
}
.barCountuner .section3 .BTn button {
  padding: 8px;
  border: 0;
  font-size: 16px;
  letter-spacing: 0.4px;
  border-radius: 5px;
  background: #a004c7;
  color: #fff;
  width: 90px;
}

@media screen and (max-width: 900px) {
  .barCountuner {
    height: 110px;
    width: 100%;
    flex-wrap: wrap;
  }
  .barCountuner .section1, .barCountuner .section3 {
    height: 50%;
    width: 240px;
  }
  .barCountuner .section2 {
    order: 3;
    height: 50%;
  }
}
@media screen and (max-width: 600px) {
  .barCountuner {
    height: 110px;
    width: 100%;
    flex-wrap: wrap;
  }
  .barCountuner .section1, .barCountuner .section3 {
    height: 50%;
    width: 100px;
  }
  .barCountuner .section1 .logo, .barCountuner .section3 .logo {
    display: none;
    left: 0;
  }
  .barCountuner .section2 {
    order: 3;
    height: 50%;
  }
}
.HomeContent {
  width: 100%;
  height: auto;
  overflow: auto;
}
.HomeContent .headers {
  position: relative;
  width: 100%;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../src/img/landingBanner.png");
  height: 380px;
}
.HomeContent .headers .InnerBox {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.HomeContent .headers .InnerBox .texts {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 25px;
  flex-shrink: 0;
}
.HomeContent .headers .InnerBox .texts h2 {
  font-size: 28px;
}
.HomeContent .headers .InnerBox .Img {
  height: 100%;
}
.HomeContent .headers .InnerBox .Img img {
  height: 100%;
}
.HomeContent .OurFasility {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
}
.HomeContent .OurFasility .smallbox {
  width: 40%;
  margin: 4px;
  border: 1px solid #c9c7c7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.HomeContent .OurFasility .smallbox img {
  width: 22px;
  margin: 0 10px 0 0;
}
.HomeContent .OurFasility .smallbox p {
  flex-wrap: wrap;
  padding: 5px;
  font-size: 12px;
  color: #777575;
}
.HomeContent .OurFasility .smallbox p span {
  color: red;
}
.HomeContent .titleText {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #5f5e5e;
  font-size: 20px;
  font-weight: 500;
}
.HomeContent .popularCat {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.HomeContent .popularCat .Left,
.HomeContent .popularCat .Right {
  z-index: 1;
  height: 30px;
  width: 30px;
  border: 2px solid rgb(0, 216, 187);
  border-radius: 50%;
  position: absolute;
  display: flex;
  cursor: pointer;
  margin: 0 20px 0 20px;
  align-items: center;
  justify-content: center;
}
.HomeContent .popularCat .Right {
  right: 0;
}
.HomeContent .popularCat .CardWraper {
  width: 100%;
  transition: 1s;
  display: flex;
}
.HomeContent .popularCat .CardWraper .card {
  width: 150px;
  flex-shrink: 0;
  height: 180px;
  padding: 5px;
  box-shadow: inset 0 0 4px 1px rgba(85, 85, 85, 0.466);
  margin-left: 20px;
  border-radius: 10px;
}
.HomeContent .popularCat .CardWraper .card a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.HomeContent .popularCat .CardWraper .card a img {
  width: 80%;
}
.HomeContent .popularCat .CardWraper .card a p {
  text-align: center;
  font-size: 14px;
  color: #5f5e5e;
}
.HomeContent .allTime {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.HomeContent .allTime .ImgBox {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
}
.HomeContent .allTime .ImgBox img {
  padding: 15px;
  width: 100%;
}

.body {
  height: 100vh;
  width: 100%;
}
.body .countentSection {
  width: 100%;
  height: 100%;
  display: flex;
}
.body .countentSection .lowerBag {
  width: 100%;
  height: 50px;
  background: #f00;
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: none;
}
.body .countentSection .lowerBag .bagContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.body .countentSection .lowerBag .bagContent .Icons {
  height: 100%;
  background: #fff;
  width: 100px;
  font-size: 30px;
  color: rgb(194, 3, 3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.body .countentSection .lowerBag .bagContent .Icons:hover {
  color: #00a862;
}
.body .countentSection .lowerBag .bagContent .pLaceOrder {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.body .countentSection .lowerBag .bagContent .ImG {
  height: 100%;
  width: 100px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.body .countentSection .lowerBag .bagContent .ImG img {
  width: 28px;
}
.body .countentSection .lowerBag .bagContent .ImG span {
  position: absolute;
  color: #fff;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(10px, -10px);
  height: 24px;
  border-radius: 50%;
  background: rgb(255, 11, 11);
}
@media screen and (max-width: 900px) {
  .body .countentSection .lowerBag.Shows {
    display: block;
  }
  .body .countentSection .smallBag {
    display: none;
  }
}
.body .countentSection .MainSide {
  margin-top: 55px;
  height: 90%;
  width: 260px;
  z-index: 3;
  transform: translateX(0px);
  position: absolute;
  transition: 0.2s;
  overflow: auto;
  background: #f3f3f3;
  flex-shrink: 0;
}
.body .countentSection .MainSide .mainItem {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-around;
}
.body .countentSection .MainSide .mainItem .grocery {
  background: rgba(216, 4, 4, 0.904);
}
.body .countentSection .MainSide .mainItem div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid rgb(206, 10, 3);
  color: rgb(10, 20, 158);
}
.body .countentSection .MainSide .mainItem div img {
  width: 30px;
  border-radius: 50%;
  background-color: #1c0536;
  padding: 5px;
}
.body .countentSection .MainSide .mainItem div p {
  font-size: 11px;
  color: rgb(207, 205, 207);
}
.body .countentSection .MainSide a {
  text-decoration: none;
}
.body .countentSection .MainSide a .offer, .body .countentSection .MainSide a .EggClub, .body .countentSection .MainSide a .DealOFThe {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
  color: #3d3d3d;
}
.body .countentSection .MainSide a .offer div, .body .countentSection .MainSide a .EggClub div, .body .countentSection .MainSide a .DealOFThe div {
  height: 26px;
  width: 26px;
  border: 1px solid red;
  display: flex;
  border-radius: 5px;
  color: red;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}
.body .countentSection .MainSide a .offer img, .body .countentSection .MainSide a .EggClub img, .body .countentSection .MainSide a .DealOFThe img {
  width: 20px;
  margin-left: 10px;
}
.body .countentSection .MainSide a .offer:hover, .body .countentSection .MainSide a .EggClub:hover, .body .countentSection .MainSide a .DealOFThe:hover {
  background: #e2dfdf;
}
.body .countentSection .MainSide .Collection {
  width: 100%;
  height: 35px;
  color: #3d3d3d;
  margin-top: 1px;
  font-size: 13px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
}
.body .countentSection .MainSide .Collection img {
  width: 25px;
  padding-right: 5px;
}
.body .countentSection .MainSide .Collection:hover {
  background: #e0e0e0;
}
@media screen and (max-width: 900px) {
  .body .countentSection .MainSide.MSow {
    position: absolute;
    transform: translateX(-300px);
  }
}
@media screen and (min-width: 900px) {
  .body .countentSection .MainSide.MSow {
    position: relative;
    transform: translateX(0px);
  }
  .body .countentSection .MainSide.Show {
    position: absolute;
    transform: translateX(-300px);
  }
}
.body .countentSection .MainBag {
  flex-shrink: 0;
  position: absolute;
  z-index: 0;
  right: 0;
  width: 320px;
  height: 90%;
}
.body .countentSection .MainBag .BigBag {
  margin-top: 55px;
  height: 100%;
  width: 100%;
  box-shadow: -5px -4px 20px 0px rgb(56, 52, 52);
  transform: translateY(-1500px);
  transition: 0.4s;
}
.body .countentSection .MainBag .BigBag .Header {
  width: 100%;
  height: 50px;
  background: #b1b0b0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.body .countentSection .MainBag .BigBag .Header .sector {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.body .countentSection .MainBag .BigBag .Header .sector img {
  width: 30px;
}
.body .countentSection .MainBag .BigBag .Header .sector p {
  font-weight: 500;
  color: #3f3f3f;
  font-size: 18px;
}
.body .countentSection .MainBag .BigBag .Header button {
  border: 1px solid rgb(122, 122, 122);
  width: 70px;
  height: 30px;
  background: #b1b0b0;
  color: rgb(143, 0, 0);
  cursor: pointer;
}
.body .countentSection .MainBag .BigBag .Dcharge {
  width: 100%;
  height: 30px;
  background: #7acc72;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.body .countentSection .MainBag .BigBag .Dcharge p {
  font-size: 12px;
  color: #fff;
}
.body .countentSection .MainBag .BigBag .Dcharge .item {
  display: flex;
}
.body .countentSection .MainBag .BigBag .Dcharge .item p {
  padding-right: 5px;
}
.body .countentSection .MainBag .BigBag .Icon {
  width: 100%;
  height: 40px;
  background: #e7e7e7;
  display: flex;
  align-items: center;
}
.body .countentSection .MainBag .BigBag .Icon img {
  width: 24px;
  margin-left: 6px;
}
.body .countentSection .MainBag .BigBag .Icon p {
  padding-left: 20px;
  font-size: 14px;
  color: #535353;
  font-weight: 600;
}
.body .countentSection .MainBag .BigBag .components {
  width: 100%;
  height: 360px;
  overflow: auto;
  background: #e7e6e6;
}
.body .countentSection .MainBag .BigBag .components .list {
  width: 100%;
  height: 90px;
  background: #f8f1f1;
  border-bottom: 1px solid #3a3939;
  display: flex;
  align-items: center;
}
.body .countentSection .MainBag .BigBag .components .list .counter {
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.body .countentSection .MainBag .BigBag .components .list .counter p {
  font-size: 16px;
  color: #262627;
  font-weight: 600;
}
.body .countentSection .MainBag .BigBag .components .list .counter .IcoN {
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.body .countentSection .MainBag .BigBag .components .list .counter .IcoN:hover {
  background: #777777;
}
.body .countentSection .MainBag .BigBag .components .list img {
  height: 50px;
  padding: 2px;
}
.body .countentSection .MainBag .BigBag .components .list .info {
  padding: 4px;
  width: 200px;
  flex-grow: 1;
  color: #262627;
}
.body .countentSection .MainBag .BigBag .components .list .info p {
  font-size: 14px;
}
.body .countentSection .MainBag .BigBag .components .list .info h6 {
  font-size: 10px;
}
.body .countentSection .MainBag .BigBag .components .list .price {
  font-size: 15px;
  width: 70px;
  display: flex;
  justify-content: center;
}
.body .countentSection .MainBag .BigBag .components .list .cross {
  width: 30px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.body .countentSection .MainBag .BigBag .components .list .cross:hover {
  color: red;
}
.body .countentSection .MainBag .BigBag .spacilCod {
  height: 40px;
  width: 100%;
  background: #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.body .countentSection .MainBag .BigBag .spacilCod:hover {
  background: #9b9b9b;
}
.body .countentSection .MainBag .BigBag .spacilCod p {
  font-size: 14px;
}
.body .countentSection .MainBag .BigBag .placeOrder {
  width: 100%;
  height: 60px;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .countentSection .MainBag .BigBag .placeOrder .Order,
.body .countentSection .MainBag .BigBag .placeOrder .amount {
  width: 150px;
  height: 40px;
  background: #ca0000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}
.body .countentSection .MainBag .BigBag .placeOrder .Order {
  border-radius: 3px 0 0 3px;
  background: #ce1b1b;
}
.body .countentSection .MainBag .BigBag .placeOrder .Order:hover {
  background: #ee5252;
}
.body .countentSection .MainBag .BigBag .placeOrder .amount {
  border-radius: 0 3px 3px 0;
  background: #a80000;
}
.body .countentSection .MainBag .BigBag .placeOrder .amount:hover {
  background: #ee5252;
}
.body .countentSection .MainBag .BigBag.Hide {
  transform: translateY(0px);
}
.body .countentSection .MainBag.FullShow {
  z-index: 2;
}
@media screen and (max-width: 900px) {
  .body .countentSection .MainBag {
    z-index: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  .body .countentSection .MainBag .BigBag {
    margin-top: 0;
  }
  .body .countentSection .MainBag .BigBag .components {
    height: 390px;
  }
}
.body .countentSection .smallBag {
  z-index: 3;
  display: block;
  position: absolute;
  width: 90px;
  opacity: 0.6;
  cursor: pointer;
  height: 90px;
  overflow: hidden;
  right: 0;
  top: 50%;
}
.body .countentSection .smallBag:hover {
  opacity: 1;
  box-shadow: 0 0px 20px 0px #000;
}
.body .countentSection .smallBag .bagImg {
  background: #888888;
  width: 100%;
  height: 60%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .countentSection .smallBag .bagImg img {
  width: 20px;
}
.body .countentSection .smallBag .bagImg p {
  color: #ffef09;
  font-weight: 500;
  padding-top: 4px;
}
.body .countentSection .smallBag .PricE {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  background: #c0bfbf;
  color: rgb(85, 85, 85);
  font-weight: 600;
}
.body .countentSection .smallBag.Hide {
  display: none;
}
@media screen and (max-width: 900px) {
  .body .countentSection .smallBag {
    display: none;
  }
}
.body .countentSection .MainContent {
  position: relative;
  flex-grow: 0;
  overflow: auto;
  margin-top: 55px;
  height: 91%;
  width: 100%;
}
.body .countentSection .MainContent .HomeContent {
  width: 100%;
  height: auto;
  overflow: auto;
}
.body .countentSection .MainContent .HomeContent .headers {
  position: relative;
  width: 100%;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../src/img/landingBanner.png");
  height: 380px;
}
.body .countentSection .MainContent .HomeContent .headers .InnerBox {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.body .countentSection .MainContent .HomeContent .headers .InnerBox .texts {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 25px;
  flex-shrink: 0;
}
.body .countentSection .MainContent .HomeContent .headers .InnerBox .texts h2 {
  font-size: 28px;
}
.body .countentSection .MainContent .HomeContent .headers .InnerBox .Img {
  height: 100%;
}
.body .countentSection .MainContent .HomeContent .headers .InnerBox .Img img {
  height: 100%;
}
.body .countentSection .MainContent .HomeContent .OurFasility {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
}
.body .countentSection .MainContent .HomeContent .OurFasility .smallbox {
  width: 40%;
  margin: 4px;
  border: 1px solid #c9c7c7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.body .countentSection .MainContent .HomeContent .OurFasility .smallbox img {
  width: 22px;
  margin: 0 10px 0 0;
}
.body .countentSection .MainContent .HomeContent .OurFasility .smallbox p {
  flex-wrap: wrap;
  padding: 5px;
  font-size: 12px;
  color: #777575;
}
.body .countentSection .MainContent .HomeContent .OurFasility .smallbox p span {
  color: red;
}
.body .countentSection .MainContent .HomeContent .titleText {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #5f5e5e;
  font-size: 20px;
  font-weight: 500;
}
.body .countentSection .MainContent .HomeContent .popularCat {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.body .countentSection .MainContent .HomeContent .popularCat .Left,
.body .countentSection .MainContent .HomeContent .popularCat .Right {
  z-index: 1;
  height: 30px;
  width: 30px;
  border: 2px solid rgb(0, 216, 187);
  border-radius: 50%;
  position: absolute;
  display: flex;
  cursor: pointer;
  margin: 0 20px 0 20px;
  align-items: center;
  justify-content: center;
}
.body .countentSection .MainContent .HomeContent .popularCat .Right {
  right: 0;
}
.body .countentSection .MainContent .HomeContent .popularCat .CardWraper {
  width: 100%;
  transition: 1s;
  display: flex;
}
.body .countentSection .MainContent .HomeContent .popularCat .CardWraper .card {
  width: 150px;
  flex-shrink: 0;
  height: 180px;
  padding: 5px;
  box-shadow: inset 0 0 4px 1px rgba(85, 85, 85, 0.466);
  margin-left: 20px;
  border-radius: 10px;
}
.body .countentSection .MainContent .HomeContent .popularCat .CardWraper .card a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .countentSection .MainContent .HomeContent .popularCat .CardWraper .card a img {
  width: 80%;
}
.body .countentSection .MainContent .HomeContent .popularCat .CardWraper .card a p {
  text-align: center;
  font-size: 14px;
  color: #5f5e5e;
}
.body .countentSection .MainContent .HomeContent .allTime {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.body .countentSection .MainContent .HomeContent .allTime .ImgBox {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
}
.body .countentSection .MainContent .HomeContent .allTime .ImgBox img {
  padding: 15px;
  width: 100%;
}
.body .countentSection .MainContent .summerCounter {
  width: 100%;
  height: auto;
  overflow: auto;
}
.body .countentSection .MainContent .summerCounter .Carosol {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .countentSection .MainContent .summerCounter .Carosol img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.body .countentSection .MainContent .summerCounter .connection {
  position: relative;
  width: 100%;
}
.body .countentSection .MainContent .summerCounter .connection .bar {
  width: 100%;
  padding: 20px;
  height: 70px;
  font-weight: 600;
  font-size: 16px;
  color: #525252;
  cursor: pointer;
  transition: 0.3s;
}
.body .countentSection .MainContent .summerCounter .connection .bar:hover {
  text-decoration: underline;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD {
  width: 220px;
  flex-shrink: 0;
  margin: 5px;
  height: 350px;
  border-radius: 5px;
  position: relative;
  box-shadow: inset 0 0 5px 0.3px rgba(54, 54, 54, 0.788);
  padding: 4px;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg {
  position: relative;
  width: 100%;
  height: 87%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts {
  position: absolute;
  transform: scale(0.3);
  opacity: 0;
  transition: 0.3s;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(13, 152, 245, 0.4941176471);
  font-weight: 600;
  border-radius: 5px;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts .dicrice {
  width: 50px;
  z-index: 1;
  opacity: 0;
  height: 50px;
  background: #c2c0c0;
  border-radius: 50%;
  position: absolute;
  transform: translate(15px, 106px);
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts p {
  position: relative;
  text-align: center;
  top: 50%;
  color: #fff9f9;
  cursor: pointer;
  font-size: 25px;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts .addBag {
  width: 100%;
  position: relative;
  height: 90%;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts .addBag .price, .body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts .addBag .InBag {
  top: 10%;
  text-align: center;
  font-size: 16px;
  color: rgb(189, 219, 14);
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts .addBag .box {
  position: relative;
  top: 50px;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts .addBag .box .nag, .body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts .addBag .box .pos {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgb(0, 255, 149);
  border: 2px solid rgb(247, 246, 246);
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts .addBag .box .num {
  font-weight: 600;
  font-size: 35px;
  color: #fbfaff;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts .addBag .InBag {
  top: 30%;
  color: #fff;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .texts .Ditels {
  width: 100%;
  height: 30px;
  color: #a7a5a5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  font-size: 13px;
  border-radius: 0 0 5px 5px;
  background: #8606ff;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg:hover .texts {
  opacity: 1;
  transform: scale(1);
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg img {
  width: 90%;
  opacity: 1;
  backface-visibility: hidden;
  display: flex;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg p {
  padding: 5px;
  font-size: 13px;
  text-align: center;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .price {
  color: rgb(13, 138, 1);
  font-size: 16px;
  font-weight: 600;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductImg .price span {
  margin-right: 7px;
  font-size: 14px;
  color: #b40202;
  text-decoration: line-through;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductBTN {
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  height: 10%;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductBTN .Addbtn {
  border: none;
  border-radius: 8px;
  box-shadow: inset -2px -2px 6px 1px #ffffff, 2px 2px 5px 1px rgb(177, 174, 174);
  width: 100%;
  height: 100%;
  color: rgb(235, 83, 83);
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductBTN .Addbtn span {
  font-size: 16px;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductBTN .countbtn {
  border: none;
  border-radius: 8px;
  box-shadow: inset -2px -2px 6px 1px #ffffff, 2px 2px 5px 1px rgb(177, 174, 174);
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductBTN .countbtn .navative, .body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductBTN .countbtn .inbag, .body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductBTN .countbtn .positive {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  width: 35px;
  background: rgb(3, 180, 3);
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductBTN .countbtn .navative {
  border-right: 1px solid #acacac;
  border-radius: 5px 0 0 5px;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductBTN .countbtn .inbag {
  flex-grow: 1;
}
.body .countentSection .MainContent .summerCounter .connection .ItemSection .carD .ProductBTN .countbtn .positive {
  border-left: 1px solid #acacac;
  border-radius: 0 5px 5px 0;
}
@media screen and (max-width: 900px) {
  .body .countentSection .MainContent .summerCounter .Carosol img {
    margin-top: 55px;
  }
}/*# sourceMappingURL=main.css.map */